streamlit
pandas
rapidfuzz
torch
transformers
plotly
google-generativeai
requests
google-api-python-client
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
